CLIENT_URL=http://localhost:5173
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_URL=your_cloudinary_url_here
CONTACT_EMAIL=your_contact_email_here
EMAIL_PASS=your_email_password_here
EMAIL_USER=your_email_here
JWT_SECRET=yoursecretkeyhere
MONGO_URI=your_mongodb_uri_here
NODE_ENV=production
PORT=5000
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
VITE_BACKEND_URL=http://localhost:5000
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id_here
VITE_RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here